.right-block{
    width: 70vw;
    max-width: 1100px;
}
.article{
    background-color: white;
    cursor: pointer;
    transition: background-color 0.5s;
}
.article:hover{
    background-color: rgb(255, 245, 208);
}

@media (max-width: 900px) {
    .profile{
        display: none;
    }
    .right-block{
        width: 100vw;
        padding: 0 5px;
    }
}
.facebook{
    color:rgb(88, 88, 88)
}

.facebook:hover{
    color: rgb(52, 52, 199);
}
.website{
    color:gray
}
.website:hover{
    color: pink
}